<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- Основной файл логов -->
    <target name="mainFile" xsi:type="File"
            fileName="${basedir}/logs/app.${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
            archiveFileName="${basedir}/logs/archives/app.{#####}.log.gz"
            archiveAboveSize="10485760"
      archiveNumbering="Sequence"
      maxArchiveFiles="30"
      concurrentWrites="true"
      keepFileOpen="true"
      encoding="utf-8"/>

    <!-- Файл для ошибок -->
    <target name="errorFile" xsi:type="File"
            fileName="${basedir}/logs/errors/error.${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
            archiveFileName="${basedir}/logs/archives/errors/error.{#####}.log.gz"
            archiveAboveSize="10485760"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="true"
            encoding="utf-8"/>
  </targets>

  <rules>
    <!-- Все ошибки в отдельный файл -->
    <logger name="*" minlevel="Error" writeTo="errorFile" final="true" />
    <!-- Основные логи от Info и выше -->
    <logger name="*" minlevel="Info" writeTo="mainFile" />
  </rules>
</nlog>
